In [1]:
# https://healthinequality.org/

In [2]:
import pandas as pd

In [3]:
health_est = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_11.csv")

Find the data dictionary for the inequality file [here](https://healthinequality.org/dl/health_ineq_online_table_11_readme.pdf)

In [4]:
counties = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_12.csv")

Find the data dictionary for the county file [here](https://healthinequality.org/dl/health_ineq_online_table_12_readme.pdf)

In [5]:
a = set(counties.columns)
b = set(health_est.columns)
a.difference_update(b)
counties_cols = list(a)
counties_cols.append('cty')

In [6]:
counties_sub = counties[counties_cols]

In [7]:
health_large = health_est.merge(counties[counties_cols], on="cty")

In [8]:
health_large

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,le_agg_q1_F,...,cs_educ_ba,exercise_any_q1,cs_labforce,tuition,diab_eyeexam_10,gradrate_r,cur_smoke_q4,crime_total,poor_share,cbsa
0,1001,Autauga,43671,11101,Montgomery,367927,Alabama,1,AL,79.775871,...,18.000000,0.500000,0.651493,NaN,72.419628,NaN,0.133333,0.009353,0.109228,33860.0
1,1003,Baldwin,140415,11001,Mobile,599405,Alabama,1,AL,82.847725,...,23.100000,0.599432,0.598249,2055.6699,64.047822,-0.247166,0.176991,0.007371,0.101471,19300.0
2,1005,Barbour,29038,10301,Eufaula,61458,Alabama,1,AL,83.149445,...,10.900000,0.542857,0.480174,NaN,67.556468,NaN,0.111111,0.007748,0.267998,NaN
3,1009,Blount,51024,10700,Birmingham,1038182,Alabama,1,AL,81.088120,...,9.600000,0.565217,0.605729,NaN,68.155340,NaN,0.166667,0.002019,0.117428,13820.0
4,1015,Calhoun,112249,9600,LaGrange,457299,Alabama,1,AL,79.486259,...,15.200000,0.544304,0.578343,2506.3513,62.862669,-0.034474,0.182482,0.008780,0.161113,11500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,56021,Laramie,81607,27702,Cheyenne,95526,Wyoming,56,WY,80.849884,...,23.400000,0.677233,0.663209,1128.0000,66.319773,-0.226124,0.135569,0.008480,0.090975,16940.0
1555,56025,Natrona,66533,34603,Casper,78585,Wyoming,56,WY,79.617317,...,20.000000,0.675015,0.682550,1248.0000,66.987620,-0.115988,0.135472,0.009649,0.118365,16220.0
1556,56029,Park,25786,34301,Cody,37247,Wyoming,56,WY,82.349632,...,23.700001,0.661082,0.640475,1128.0000,78.021978,-0.093242,0.075881,0.004305,0.127367,NaN
1557,56033,Sheridan,26560,34304,Sheridan,46306,Wyoming,56,WY,81.758583,...,22.400000,0.673342,0.661194,1128.0000,66.043614,-0.129339,0.107623,0.006739,0.107487,43260.0
1558,56037,Sweetwater,37613,36404,Rock Springs,80730,Wyoming,56,WY,81.354218,...,17.000000,0.622924,0.705721,1128.0000,57.586207,0.158455,0.178484,0.011671,0.077714,40540.0

In [9]:
import os

In [10]:
os.getcwd()

'/Users/philip.ballentine/Documents/hia_255_healthinequality/hia_255_healthinequality'

In [12]:
health_large.to_csv("health_inequality_dataset.csv", index=False)